<div class="md:px-32 py-8 w-full">
  <div class="shadow overflow-hidden rounded border-b border-gray-200">
    <table id="order_table" class="min-w-full bg-white">
      <thead class="bg-gray-800 text-white">
        <tr>
          <th class="w-1/3 text-left py-3 px-4 uppercase font-semibold text-sm">Código</th>
          <th class="w-1/3 text-left py-3 px-4 uppercase font-semibold text-sm">Descrição</th>
          <th class="text-left py-3 px-4 uppercase font-semibold text-sm">Estoque Atual</th>
        </tr>
      </thead>

      <tbody class="text-gray-700">
        <% @products.each do |product| %>
          <tr>
            <td class="w-1/3 text-left py-3 px-4"><%= product[:codigo] %></td>
            <td class="w-1/3 text-left py-3 px-4"><%= product[:descricao] %></td>
            <td class="text-left py-3 px-4"><%= product[:estoqueAtual] - 1000 %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>

