<div class="mx-auto md:w-2/3 w-full">
  <h1 class="font-bold text-4xl">Editing shopee income finished</h1>

  <%= render "form", shopee_income_finished: @shopee_income_finished %>

  <%= link_to "Show this shopee income finished", @shopee_income_finished, class: "ml-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
  <%= link_to "Back to shopee income finisheds", shopee_income_finisheds_path, class: "ml-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
</div>
