<div class="mx-auto md:w-2/3 w-full">
  <h1 class="font-bold text-4xl">New shopee pay</h1>

  <%= render "form", shopee_pay: @shopee_pay %>

  <%= link_to 'Back to shopee pays', shopee_pays_path, class: "ml-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
</div>
